*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.container{
  max-width: 1600px;
  margin: 0 0 auto;
}

.cart1-img{

  height: 500px;
  object-fit: cover;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  border-radius: 1.25rem;
  position: relative;
  width: 100%;
 
}

#cart-details{
  filter: drop-shadow(0 52px 94px rgba(0, 0, 0, .3));

}

.cart1-img::before{

  background: linear-gradient(0deg, rgba(0, 0, 0, .65), transparent);
  border-radius: 1.25rem;
  bottom: 1.25rem;
  content: "";
  left: 0.55rem;
  position: absolute;
  right:0.55rem;
  top: 5%;
  z-index: 44;
}

.head {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 10;
}
.festival-image{
  border-radius: 24px;
  position: relative;
  vertical-align: middle;
  padding: 10px;

  width: 100%;
  max-height:500px;
  object-fit: cover;
}
.head,
.head-ul ul,
.head-icons ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}
.logo svg {
  width: 150px;
}
.dropdown-menu {
  position: absolute;
  background-color: #ffff;
  border: 1px solid #fff;
  border-radius: 20px;
  top: 80px;
  right: 350px;
  display: none !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.dropdown-menu.open {
  display: block !important;
}

.dropdown-menu li>a {
  color: #0f0f0f;
  font-weight: 500;


}

.dropdown-menu li{
  
padding: 5px;
}

.ulx a {
  position: relative;
  text-decoration: none;
  color: white;
  
}

.ulx a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 5px;
  background-color: #FFD700;
  transform: rotate(-5deg);

}


.ulx a:hover::before {
  width: 100%;
}

.head-icons ul {
  display: flex;
  gap: 30px;
}

.user {
  justify-content: center;
}
.head a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.fa-user {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-color: #fd0;
  border-color: rgba(255, 221, 0, var(--tw-border-opacity));
  height: 50px;
justify-content: center;
align-items: center;
display: flex;
  width: 50px;
  border-radius: 50%;
}

.populyar {
  margin-top: 50px;
  font-size: 23px;
  margin-left: 50px;
}

.price{
  position: absolute;

bottom:180px;
left: 20px;
--tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: #fd0;
    background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
    border-radius: 9999px;
 
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 1.3rem 1.5rem;
}

.price a{
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
}



.heart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
padding: 30px;
  position: absolute;
  bottom:180px;
left: 200px;
}

.heart i {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.heart .active {
  border-color: yellow;
}

.heart.active i {
  color: yellow;
}



.share-box {
  display: none;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

}




        .share-box h2 {
            margin: 0 0 15px;
            font-size: 25px;
        }
        .share-icons {
          --tw-bg-opacity: 1;
          background-color: #fd0;
          background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
          content: "";
          height: 100px;
          left: 0;
   margin-left: -20px;
   align-items: center;
   display: flex;
   justify-content: space-evenly;
          width: calc(100% + 2.5rem);

        }
        .share-icons a {
            font-size:35px;

            color: black;
            text-decoration: none;
        }
        .copy-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            box-sizing: border-box;
        }
        .copy-section p {
            margin-bottom: 8px;
            font-size: 14px;
font-weight: 600;
            width: 100%;
            margin-left: 25px;
        }
        .copy-input{
          display: flex;
      justify-content: flex-start;
        }
    
        .copy-input input {
flex: 1;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 16px;

  

        }
        .copy-btn {

            background: #fd0;
            border: none;
            padding: 15px 25px;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
           
        }

    .icon-close{
      position: absolute;
      right: -40px;
      top: -0px;
      font-size: 30px;
      color: #fff;
    }
    .buttons{
      display: flex;
    }
    .heart2{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid white;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;
    padding: 30px;
      position: absolute;
      bottom:180px;
    left: 300px;
    }

    .heart2 i{
      color: #fff;
    }


    
    .form_login {
      position: absolute; /* Use absolute positioning for centering */
      top: 50%;           /* Position 50% from the top */
      left: 50%;          /* Position 50% from the left */
      transform: translate(-50%, -50%); /* Move back by 50% of its width and height to center it */
      border-radius: .75rem;
      padding: 1.25rem;
      width: 100%;
      max-width: 440px;   /* Set a max width for the form */
    
      background-color: rgba(255, 255, 255, 1); /* Set background color */
      z-index: 20;
      display: none;
    }
    
    .form_register{
      position: absolute;
      margin-top: 30px; /* Use absolute positioning for centering */
      top: 50%;           /* Position 50% from the top */
      left: 50%;          /* Position 50% from the left */
      transform: translate(-50%, -50%); /* Move back by 50% of its width and height to center it */
      border-radius: .75rem;
      padding: 1.50rem;
      width: 100%;
      max-width: 400px;   /* Set a max width for the form */
      background-color: rgba(255, 255, 255, 1); /* Set background color */
      z-index: 20;
      display: none;
    }
    .login-background{
      border-radius: .75rem;
        bottom: 0;
        display: block;
        left: 0;
    overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .login-background::before {
    
      --tw-bg-opacity: 1;
      background-color: #fd0;
      background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
      content: "";
      height: 154px;
      left: -98px;
      position: absolute;
      top: 88px;
      transform: rotate(-40deg);
      transform-origin: 0 0;
      width: 100%;
    }
    
    
    
    
    .login-input{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    gap: 10px;
    }
    
    .login-input input{
      --tw-border-opacity: 1;
        border-color: #d1d5db;
        border-color: rgba(209, 213, 219, var(--tw-border-opacity));
        border-radius: .5rem;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.25rem;
        padding: 1rem 1.5rem;
        outline: 2px solid transparent;
        outline-offset: 2px;
        width: 100%;
        border-width: 1px;
        border: 1px solid #d1d5db;
    }
    
    .login-input input:focus{
      background-color: rgb(229, 231, 235);
    }
    
    .login-btn{
      position: relative;
    }
    
    .login-btn button{
      font-size: .875rem;
      font-weight: 700;
      line-height: 1.25rem;
      --tw-bg-opacity: 1;
      background-color: #fd0;
      background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
      font-size: 1.125rem;
      font-weight: 700;
      border: 1px solid #fd0;
      line-height: 1.75rem;
      padding: .75rem 1rem;
      outline: 2px solid transparent;
      outline-offset: 2px;
      width: 100%;
      margin-top: 30px;
      border-radius: 10px;
      cursor: pointer;
    }
    
    
    .modal-footer {
      --tw-text-opacity: 1;
      color: #646464;
      color: rgba(100, 100, 100, var(--tw-text-opacity));
      font-size: .875rem;
      font-weight: 500;
      line-height: 1.25rem;
      text-align: center;
    }
    .image-wrapper {
      width: 300px;
      border-radius: 15px;
      flex: 0 0 auto;
      position: relative;
      color: #fff;
      font-weight: 500;
      margin-left:0px;
      -o-object-fit: contain;
      object-fit: contain;
      position: relative;
    transition: all 0.3s ease;
    }
    .image-wrapper:hover{
      margin-top: -50px;
    }
    
    .cart1-img {
      max-width: 300px;
      max-height: 200px;
    }
    
    .cart1-img img {
      width: 300px;
      border-radius: 15px;
      object-fit: cover;
      height: 320px;
      transition: transform 0.3s ease;
    }
    .cart-link2 {
      position: absolute;
      top: 0;
    
      
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
    
    
    }
    
    .cart1-p {
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .cart1-p p {
      font-size: 20px;
      margin-left: 10px;
    }
    
    .cart1-p .p-1 {
      opacity: 1;
      z-index: 10;
      position: relative;
      margin-top: 50px;
    }
    
    .cart1-p .p-2 {
      opacity: 1;
      margin-top: px;
    }
    
    .info h3 {
      margin-top: 30px;
     margin-left: 20px; 
      text-overflow: ellipsis; 
      white-space: nowrap;
       overflow: hidden;
    }
    .info p{
      text-overflow: ellipsis; 
      white-space: nowrap;
       overflow: hidden;
    }
    
    .cart1-a {
      transform: translate(59%, -160%);
      transition: transform 0.3s ease;
    }
    
    .cart1-a a {
    
      --tw-bg-opacity: 1;
      --tw-text-opacity: 1;
      background-color: #fd0;
      background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
      border-radius: 9999px;
      color: #000;
      color: rgba(0, 0, 0, var(--tw-text-opacity));
      font-size: .875rem;
      font-weight: 700;
      line-height: 1.25rem;
      padding: .6rem 1rem;
      text-decoration: none;
      color: black;
      font-size: 19px;
    }
    
    .info {
      display: none;
      color: black;
    
    }
    
    .image-wrapper:hover .p-1 {
      opacity: 0;
      transform: translateY(-10px);
    }
    
    .image-wrapper:hover .info {
      display: block;
    }
    
    .image-wrapper:hover .p-2 {
      opacity: 0;
      transform: translateY(-10px);
    }
    
    
    .image-wrapper:hover .cart1-a {
      transform: translate(59%, -200%);
      /* Move the button up slightly */
    }
    
    
    .modal-footer a{
      color: #bb7dfb;
      text-decoration: none;
    }
    .closeForm i{
      position: absolute;
    
      right: -40px;
      color: #fff;
      font-size: 30px;
    }

    #sec4-carts4 {
      /* Container’ın boyutlarını kontrol et */
      display: block;
      width: 100%;
      height: auto;
      display: flex;
    
    gap: 40px;
    }
    