*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} 
body,html{



  font-family: Arial, sans-serif;

}

.container{

  max-width: 1600px;


  box-sizing: border-box;
  margin:  0 auto;
}

.cart1-img{

  height: 500px;
  object-fit: cover;


  border-radius: 1.25rem;
  position: relative;
  width: 100%;
 
}

#cart-details{
  filter: drop-shadow(0 52px 94px rgba(0, 0, 0, .3));

}





.head{

  display: flex;
  align-items: center;
  position: absolute;
top:10px;
justify-content:center ;
  width: 100%;

  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 10;
  
  
}
.head,
.head-ul ul,
.head-icons ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;

}

.head a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}


  .logo svg {
margin-left: 50px;
    width: 150px;
    max-width: 100%;
  }



.dropdown-menu {
  position: absolute;
  background-color: #ffff;
  border: 1px solid #fff;
  border-radius: 20px;
  top: 80px;
  right: 350px;
  display: none !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  z-index: 444;
}

.dropdown-menu.open {
  display: block !important;
  z-index: 444;
  position: absolute;
}

.dropdown-menu li>a {
  color: #0f0f0f;
  font-weight: 500;


}

.dropdown-menu li {

  padding: 5px;
}

.ulx a {
  position: relative;
  text-decoration: none;
  color: white;
  z-index: 444;

}
.ulx{
  margin-left: 100px;
}

.ulx a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 5px;
  background-color: #FFD700;
  transform: rotate(-5deg);

}


.ulx a:hover::before {
  width: 100%;
}

.head-icons ul {
  display: flex;
  gap: 30px;
}

.user {
  justify-content: center;
}
.head-icons{
  margin-left:150px;
}


.fa-user {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-color: #fd0;
  border-color: rgba(255, 221, 0, var(--tw-border-opacity));
  height: 50px;
  padding: 15px;
  width: 50px;
  border-radius: 50%;
}

.populyar {
  margin-top: 50px;
  font-size: 23px;
  margin-left: 50px;
}

.all-card {
  position: relative; /* This will be the container */
}

#cart-details {
  position: relative; /* Ensures that the inner elements are positioned within this container */
 
}

.price {
  border: none;
  background-color: rgba(255, 221, 0, 1);
  border-radius: 9999px;
  color: black;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  padding: 1.3rem 1.5rem;
  position: absolute;
  top: 380px;
  left:50px;

}
#event-details{
  
    max-width: 1420px;
    min-height: 300px;

}
.cart1-img2,
.cart1-img3 {
  
  object-fit: cover;
  display: none;

}

.price a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
}

.heart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 30px;
  position: absolute;
top: 380px; /* Position it based on the container */
  left: 200px;
  z-index: 5; /* Adjust as needed */
}

.heart2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
padding: 30px;
  position: absolute;
  bottom:140px;
left: 30px;
}
.heart i {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.heart .active {
  border-color: yellow;
}

.heart.active i {
  color: yellow;
}
.bars-open .open .price{
  z-index: 0;
}

.cart-share {
  position: relative;
  top: 80px;
  z-index: 444;
  left: 250px; /* Adjust as needed to fit */
}

.share-box {
  display: none;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}




.image-wrapper {
  width: 300px;
  border-radius: 15px;
  flex: 0 0 auto;
  position: relative;

  color: #fff;
  font-weight: 500;
  margin-left: 0px;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  transition: all 0.3s ease;
}


.image-wrapper:hover {
  margin-top: -50px;
}

.cart2-img {
  max-width: 300px;
  max-height: 200px;
}

.cart2-img img {
  width: 300px;
  border-radius: 15px;
  object-fit: cover;
  height: 320px;
  transition: transform 0.3s ease;
}

.cart-link2 {
  position: absolute;
  top: 0;


  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;


}

.cart2-p {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart2-p p {
  font-size: 20px;
  margin-left: 10px;
}

.slide {
  transition: transform 0.5s ease-in-out;
}

.cart2-p .p-1 {
  opacity: 1;
  z-index: 10;
  position: relative;
  margin-top: 50px;
}

.cart2-p .p-2 {
  opacity: 1;
  margin-top: px;
}

.info h3 {
  margin-top: 30px;
  margin-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cart2-a {
  transform: translate(55%, -100%);
  transition: transform 0.3s ease;
}

.cart2-a a {

  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-radius: 9999px;
  color: #000;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  padding: .6rem 1rem;
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.info {
  display: none;
  color: black;

}

.image-wrapper:hover .p-1 {
  opacity: 0;
  transform: translateY(-10px);
}

.image-wrapper:hover .info {
  display: block;
}

.image-wrapper:hover .p-2 {
  opacity: 0;
  transform: translateY(-10px);
}


.image-wrapper:hover .cart2-a {
  transform: translate(55%, -200%);
  /* Move the button up slightly */
}



        .share-box h2 {
            margin: 0 0 15px;
            font-size: 25px;
        }
        .share-icons {
          --tw-bg-opacity: 1;
          background-color: #fd0;
          background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
          content: "";
          height: 100px;
          left: 0;
   margin-left: -20px;
   align-items: center;
   display: flex;
   justify-content: space-evenly;
          width: calc(100% + 2.5rem);

        }
        .share-icons a {
            font-size:35px;

            color: black;
            text-decoration: none;
        }
        .copy-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            box-sizing: border-box;
        }
        .copy-section p {
            margin-bottom: 8px;
            font-size: 14px;
font-weight: 600;
            width: 100%;
            margin-left: 25px;
        }
        .copy-input{
          display: flex;
      justify-content: flex-start;
        }
    
        .copy-input input {
flex: 1;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 16px;

  

        }
        .copy-btn {

            background: #fd0;
            border: none;
            padding: 15px 25px;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
           
        }

    .icon-close{
      position: absolute;
      right: -40px;
      top: -0px;
      font-size: 30px;
      color: #fff;
    }
    .buttons{
      display: flex;
    }


    .heart2 i{
      color: #fff;
    }


    
    .form_login {
      position: absolute;
      top: 50%;           
      left: 50%;      
      transform: translate(-50%, -50%); 
      border-radius: .75rem;
      padding: 1.25rem;
      width: 100%;
      max-width: 440px;  
    
      background-color: rgba(255, 255, 255, 1); 
      z-index: 20;
      display: none;
    }
    
    .form_register{
      position: absolute;
      margin-top: 30px; 
      top: 50%;          
      left: 50%;          
      transform: translate(-50%, -50%); 
      padding: 1.50rem;
      width: 100%;
      max-width: 400px;   
      background-color: rgba(255, 255, 255, 1); 
      z-index: 20;
      display: none;
    }
    .login-background{
      border-radius: .75rem;
        bottom: 0;
        display: block;
        left: 0;
    overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .login-background::before {
    
      --tw-bg-opacity: 1;
      background-color: #fd0;
      background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
      content: "";
      height: 154px;
      left: -98px;
      position: absolute;
      top: 88px;
      transform: rotate(-40deg);
      transform-origin: 0 0;
      width: 100%;
    }
    
    
    
    
    .login-input{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    gap: 10px;
    }
    
    .login-input input{
      --tw-border-opacity: 1;
        border-color: #d1d5db;
        border-color: rgba(209, 213, 219, var(--tw-border-opacity));
        border-radius: .5rem;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.25rem;
        padding: 1rem 1.5rem;
        outline: 2px solid transparent;
        outline-offset: 2px;
        width: 100%;
        border-width: 1px;
        border: 1px solid #d1d5db;
    }
    
    .login-input input:focus{
      background-color: rgb(229, 231, 235);
    }
    
    .login-btn{
      position: relative;
    }
    
    .login-btn button{
      font-size: .875rem;
      font-weight: 700;
      line-height: 1.25rem;
      --tw-bg-opacity: 1;
      background-color: #fd0;
      background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
      font-size: 1.125rem;
      font-weight: 700;
      border: 1px solid #fd0;
      line-height: 1.75rem;
      padding: .75rem 1rem;
      outline: 2px solid transparent;
      outline-offset: 2px;
      width: 100%;
      margin-top: 30px;
      border-radius: 10px;
      cursor: pointer;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    
    /* Düymənin stili (optional) */
    .event-button {
      padding: 15px 30px;
      font-size: 18px;
      border-radius: 10px;
      border: none;
      background-color: #ffcc00;
      color: #000;
      cursor: pointer;
    }
    

    .spinner-overlay {
      position: fixed;
      top: 0;
    right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6); /* Qaranlıq şəffaf fon */
      display: none;

      z-index: 9999; 
    }
    
    /* Spinner icon stili */
    .spinner-icon {
      font-size: 80px;
      color: #ffcc00; /* DOSUNN rəngi */
    }
    
    
    .modal-footer {
      --tw-text-opacity: 1;
      color: #646464;
      color: rgba(100, 100, 100, var(--tw-text-opacity));
      font-size: .875rem;
      font-weight: 500;
      line-height: 1.25rem;
      text-align: center;
    }
   
    
    .modal-footer a{
      color: #bb7dfb;
      text-decoration: none;
    }
    .closeForm i{
      position: absolute;
    
   right: 30px;
      color: #000;
      font-size: 30px;
    }

    #sec4-carts4 {
   
      display: block;
      width: 100%;
      height: auto;
      display: flex;
    
    gap: 40px;
    }
    .event-all{
position: relative;
padding: 50px;
    }
    
    .event-description {
      display: flex;
 
   padding: 20px;
flex-shrink: 0;
  max-width: 100%;
      border-radius: 12px;
      border: 1px solid #ddd;
background-color:none;
      width: 100%;
      overflow: hidden;
transition: all 0.3s ease
    }
    .event-description:hover{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .event-middle{
      display: flex;
    }

.event-left h2{
  color: #333;
  left:4%;
  position: relative;
  font-size: 28px;
  font-weight: 400;
  white-space: wrap;
max-width: 400px;

}

.event-left p{
  margin-top: 5px;
  color: #333;
  opacity: 0.7;
  font-size: 20px;
max-width: 400px;
  overflow: hidden;
  left: 4%;
  position: relative;
  
}
    .space{
      border-left: 1px solid #333;
      opacity: 0.6;
      border-left-width: 1px;
       padding-top: 5px; 
margin-left:80px;
      height: 80px;

    }

    .label{
      margin-left: 20px;
      color: #333;
      opacity: 0.7;


      font-size: 22px;
    }

    .value{


      margin-left: 20px;
      margin-top: 5px;
      font-size: 20px;
    }
.event_button_div{
  left:74%;
  position: absolute;
  padding: 20px;
}
    .event-button{
      background: #ffdd00;
      white-space: nowrap;
      border-radius: 35px;
      padding: 20px 40px;
      font-size: 20px;
      line-height: 23px;
      font-weight: 700;
      color: #000000;
      border: 0;
      cursor: pointer;

      text-decoration: none;
  }

.flex-container{
width: 100%;

  padding: 30px;
}

.flex-item-content{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10px;
}
.flex-item-content h3{
  margin-left: 30px;
}
.img-1{
  left: 20px;
  position: relative;
  z-index: 444;
}



.img-3{
  left: 20px;
position: relative;
z-index: 444;
}
.event_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 sütun */
  gap: 90px; /* Kartlar arasındakı boşluq */
  padding: 30px;
  overflow: hidden;
}

.event_cards_section h1{
padding-left: 50px;
}
 .flex-content{
  display: flex;
 


  gap: 20px;
 }

 .flex-1,
 .flex-2{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

 }

 

 .flex-item{
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 24px;
  flex-shrink: 0;
  width: 280px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
display: flex;
align-items: center;
 }


 .age{
  position: relative;
  right: 70px;
color: #fff;
  z-index: 444;
 }

 .about-event {
  margin-top: 50px;
  display: flex;
  gap: 50px;


height: 400px;

}

.item-image-2{
  position: absolute;
  top: 30;


  right:0px;
  width: 100%;
  height: 100%;
  background: transparent;
}

.about-buttons{

  box-sizing: border-box;
}
.buttonx {
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.50rem;
  width: 300px;
  padding: 20px;
  max-width: 100%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #fd0;
  background-color: #fff; /* Standartda ağ fon */
  border-color: #f3f4f6;
  height: 80px;
}

/* Aktiv düymə (sarı fon) */
.buttonx.on {
  background-color: #fd0; /* Sarı rəng */
}

 .about-buttons{
display: flex;
  gap: 40px;
 }

.about-image{
  position: relative;
  left: 0px;
}
 .about-image img{
  width: 300px;
  border-radius: 15px;
  object-fit: cover;
  height: 320px;
  transition: transform 0.3s ease;
 }


 .about-area,
 .about-area2{
  margin-top: 30px;
  width: 650px;
  border-radius: 20px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #fd0;
  background-color: #fff; /* Standartda ağ fon */
  border-color: #f3f4f6;
 }


 .footer-1 {
  background: #fff;
  padding: 40px 0;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin: 10px;
}

.footer-logo svg {
  width: 150px;
}

.footer-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.footer-section ul li {
  margin-bottom: 15px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #444;
  opacity: 0.8;
  font-size: 17px;
}

.footer-section ul li a:hover {
  color: #000;
}

.help-foot {
  margin-top: 50px;
}

.help-text {
  color: #333;
  font-size: 20px;
  opacity: 0.7;
}

.phone {
  font-size: 23px;

  font-weight: bold;
  color: #000;
}

.payment-logos img {
  margin-top: 30px;
  width: 185px;
  margin-right: 10px;
}

.footer-bottom {
  margin-left: 40px;
  color: #333;
  opacity: 0.8;
  font-size: 20px;
  margin-top: 20px;
}

.pay {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  opacity: 0.8;
}

.end-footer {
  display: flex;
  justify-content: space-between;
}

footer .social-links {
  --tw-bg-opacity: 1;

  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  padding: 10px;
  margin-right: 10px;

}

.left-ul {
  display: flex;
  align-items: center;

}

.left-ul li {
  list-style: none;
}

.left-ul svg {
  width: 50px;
  height: 100%;
}


footer .social-links a {
  height: 70px;
  padding: 1rem;
}



.responsive-navbar {
  align-items: center;
  z-index: 444;
  position: absolute;
  top: 0px;
  width: 100%;
  display: none;
  gap: 1rem;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.responsive-bars i {
  font-size: 20px;
  color: #333;
  opacity: 0.7;
  cursor: pointer;
}

.responsive-ul li {
  margin: 0 10px;
}

.logo {
  display: flex;
}

.logo svg {
  height: 40px;
  fill: black;
}

.responsive-navbar-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.responsive-navbar-icon i {
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.responsive-navbar-icon i:hover {
  color: black;
}

.fa-user {
  background-color: yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black !important;
}

.bars-open {
  position: absolute;
  z-index: 444;
  top: 0;
  padding: 30px;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  transform: translateX(-500%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bars-open.open {
  transform: translate(0%);
}

.bars-open .close {
  transform: translate(-500%);
}

.bars-open ul,
a {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.bars-open li {
  padding: 5px;
}

.bars-close {
  position: absolute;
  right: 30px;
  font-size: 20px;
}

.responsive-logo span {
  position: absolute;
  left: 320px;
}

.span-2 {
  margin-left: 50px;
  color: #333;
  opacity: 0.7;
  font-size: 16px;
}

.responsive-logo {
  display: flex;
  align-items: center;
  gap: 100px;
}

.responsive-logo input {
  background: #fff;
  border: 1px solid #6b7280;
  border-radius: .375rem;
  color: rgba(107, 114, 128, 1);
  padding: 0.900rem 5rem;
}

.bars-open svg {
  fill: black;
  width: 150px;
}

.reklam-1-2 {
  display: none;
}

.footer-2 {
  display: none;

}

.footer-section-1 {
  display: flex;
  justify-content: space-between;
}

.footer-2 .footer-section-all {
  display: flex;
}

.contact-us {
  text-align: end;
  justify-content: end;
}

.contact-us p {
  font-size: 18px;
  color: #333;
  opacity: 0.7;
  text-align: end;
  justify-content: end;
}

.contact-us strong {
  line-height: 1.25rem;
  text-align: end;
  justify-content: end;
  font-size: 20px;
}

.footer-logo-2 {
  flex-shrink: 0;
}

.footer-logo-2 svg {
  width: 150px;
}

.footer-2 {
  margin-top: 50px;
}

.footer-section2 {
  margin-top: 30px;
}

.footer-section2 ul {
  list-style: none;
  margin-top: 10px;
}

.social-links2 {
  margin-top: 30px;
  width: 80%;
  background-color: rgba(255, 221, 0, 1);
  padding: 10px;
  margin-right: 10px;
  justify-content: space-around;
}

.footer-2{
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-section2 a {
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  color: #333;
  opacity: 0.7;
}

.about-event {
  display: flex;
  gap: 20px;
}

.content-event {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

.about-section {
  display: flex;
  flex-direction: column; /* Button textarea-nın üstündə olsun */
  
  gap: 10px;
  width: 100%;
}

.left-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-buttons2{
  display: none;

}
.left-ul li {
  list-style: none;

}
.about-buttons{
  flex-wrap: wrap;
}

.left-ul svg {
  width: 50px;
  height: 100%;
}

footer .social-links2 a {
  height: 70px;
  padding: 1rem;
}

.footer-section2 li {
  padding: 3px;
}

.footer-2x {
  margin-left: 100px;
}

footer hr {
  border-color: #d2d2d2;
  margin: 15px 0 0;

  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.px-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-section2 h4 {
  font-size: 18px;
  font-weight: 500;
}

.security img {
  width: 185px;
}

.security {
  margin-top: 30px;
}
.form_login .modal-footer a{
  font-size: 15px;
}
.form_register .modal-footer a{
  font-size: 15px;
}
.security h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.50rem;
  padding-bottom: .50rem;
}

.security p {
  color: #333;
  opacity: 0.7;
  padding-bottom: .75rem;
}

.footer-info {
  margin-top: 30px;
  color: #333;
  font-size: 19px;
  opacity: 0.7;
}

.ul-2 input{
  display: none;
}

@media screen and (max-width: 1030px) {
.form_login,
.form_register{
  width:300px;
  max-width: 100%;
}
  .responsive-navbar {
    display: flex;

  }

  .head {
    display: none;
  }

 .event_cards{
  position: relative;
  top:0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ensure 2 columns on smaller screens */
    gap: 80px; /* Add gap between grid items */
  }
.about-image img{
display: none;
}
.event-description {
  flex-direction: column;
 height:300px;
max-width:100%;
}

.event-left h2 {
  font-size: 24px;
  max-width: 100%;
}

.event-left p {
  font-size: 18px;
  max-width: 100%;
}
.event-button{
justify-content: start;
z-index: 444;
text-align: start;
}
.space{
  display: none;
}

.event_button_div{
  display: flex;
    justify-content: start;
  display: flex;
  position: relative;
  left: 0%;
  top: 10px;
}
.event-left h2 {
  font-size: 24px;
  max-width: 100%;
}

 .label {
  font-size: 18px;
  max-width: 100%;


}

.event-middle {
  margin-top: 30px;

align-items: flex-start;
flex-wrap: wrap;


  gap: 20px;
}
.responsive-navbar .fa-heart {
  display: none;
}

.flex-content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-1 {

flex-wrap: wrap;
}



.footer-1 {
  display: none;
}

.footer-2 {
  display: block;
  position: relative;
  top: 300px;
}
.event-description{
  height: auto;
}
}

@media screen and (max-width: 930px) {

.cart1-img {
  visibility: hidden; /* Element görünməz olur, amma hələ də yer tutur */
  position: absolute;
}

.cart1-img2{
  display: block;
  overflow: hidden;
  margin-top: 90px;
  width: 908px;
  max-width: 100%;
  visibility: visible;
}
.cart1-img3{
  display: block;
  overflow: hidden;
  width: 1008px;
  max-width: 100%;
  visibility: visible;
  position: absolute;
  top: 0;


  left: 0;

  background: transparent;
}

.heart,
.heart2{
  display: none;
}
.price{
  position: relative;
top: -150%;
}
}


@media screen and (max-width: 768px) {
  .event_cards{
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
    }
    .event_cards_section{
      margin-top: 100px;
 
    }
    .bars-open{
      width: 100%;
  overflow-x: hidden;
  
    }
  .responsive-logo{
  display: flex;
  gap: 0px;
  
  
  }
  .ul-2{
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    gap: 20px;
  }
  
  .responsive-logo input{
   display: none;
  }
  .responsive-logo i{
    position: relative;
    
  }
  .ul-2 input{
    display: block;
    background: #fff;
    border: 1px solid #6b7280;
    border-radius: .375rem;
    color: rgba(107, 114, 128, 1);
  width: 100%;
  padding: 20px;
  }
  .about-area,
  .about-area2 {
    width: 100%; /* Kiçik ekranlarda tam eni əhatə etsin */
  
    display: block !important;
    margin-bottom: 50px;
  
  }
  .about-buttons{
    display: none;
  }
  
  .about-buttons2 {
  
  
  display: block;
  
  }
  .event_cards_section{
    margin-top: 300px;
  }
  
  .footer-2{
    max-width: 100%;
    flex-wrap: wrap;
  }
    
}







@media screen and (max-width:580px) {
 .contact-us{
  overflow: hidden;
  max-width: 100%;
 }
  .contact-us  p,strong{
  font-size: 12px;
 
  }

  .footer-2 hr{
    max-width: 100%;
  }

  .social-links2{
    max-width: 100%;
  }

  .left-ul li a  svg{
    width: 30px;
  }
  .responsive-navbar .logo svg{
    width: 120px;
  }
 .social-links{
  width: 100%;
 }
  .left-ul li a  svg{
width: 15px;

  }
.event-button{
  padding: 20px 30px;
}
.footer-logo-2 svg{
  width: 120px;
}
.contact-us p{
  font-size: 12px;
}
.contact-us strong{
  font-size: 14px;
}
}




@media  screen and (max-width:400px) {




  .footer-section2 a{
    font-size: 13px;
  }
  
}





