* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.head {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 10;
}

.section-1 {
  filter: drop-shadow(0 52px 94px rgba(0, 0, 0, .308949));
}

.head,
.head-ul ul,
.head-icons ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.head a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.logo svg {
  width: 150px;
}


.slider {
  position: relative;
  width: 100%;
  border-radius: 12px;
  padding: 0px;
  margin: 0 auto;
  height: 600px;
  overflow: hidden;
}


.slides-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%; /* Each slide takes up the full width of the container */
  display: flex; /* Flexbox to center images */
  justify-content: center; /* Center image horizontally */
  align-items: center; 
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}


#left,
#right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 221, 0, 1);
  border: 1px solid rgba(255, 221, 0, 1);
  height: 134px;
  width: 67px;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  cursor: pointer;
}

#left {
  left: 0;

  transform: translateY(-50%) rotate(180deg);
}

#left span {
  transform: rotate(-180deg);
}

#right {
  right: 0;
}

.dropdown-menu {
  position: absolute;
  background-color: #ffff;
  border: 1px solid #fff;
  border-radius: 20px;
  top: 80px;
  right: 350px;
  display: none !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.dropdown-menu.open {
  display: block !important;
}

.dropdown-menu li>a {
  color: #0f0f0f;
  font-weight: 500;


}

.dropdown-menu li{
  
padding: 5px;
}

.ulx a {
  position: relative;
  text-decoration: none;
  color: white;
  
}

.ulx a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 5px;
  background-color: #FFD700;
  transform: rotate(-5deg);

}


.ulx a:hover::before {
  width: 100%;
}

.head-icons ul {
  display: flex;
  gap: 30px;
}

.user {
  justify-content: center;
}


.fa-user {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-color: #fd0;
  border-color: rgba(255, 221, 0, var(--tw-border-opacity));
  height: 50px;
  padding: 15px;
  width: 50px;
  border-radius: 50%;
}

.populyar {
  margin-top: 50px;
  font-size: 23px;
  margin-left: 50px;
}

.sec2-carts {
  margin-top: 50px;
  display: flex;
  overflow-x: hidden;
  gap: 20px;
  scroll-behavior: smooth;
  
}

.image-wrapper {
  width: 300px;
  border-radius: 15px;
  flex: 0 0 auto;
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-left:0px;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
transition: all 0.3s ease;
}

.section-background{
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative
}
.section-background::before{
  background: linear-gradient(to bottom right, #fd0, #fd0 50%, transparent 0, transparent);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 120%;
}

.image-wrapper:hover{
  margin-top: -50px;
}

.cart1-img {
  max-width: 300px;
  max-height: 200px;
}

.cart1-img img {
  width: 300px;
  border-radius: 15px;
  object-fit: cover;
  height: 320px;
  transition: transform 0.3s ease;
}
.cart-link2 {
  position: absolute;
  top: 0;

  
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;


}

.cart1-p {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart1-p p {
  font-size: 20px;
  margin-left: 10px;
}

.cart1-p .p-1 {
  opacity: 1;
  z-index: 10;
  position: relative;
  margin-top: 50px;
}

.cart1-p .p-2 {
  opacity: 1;
  margin-top: px;
}

.info h3 {
  margin-top: 30px;
 margin-left: 20px; 
  text-overflow: ellipsis; 
  white-space: nowrap;
   overflow: hidden;
}
.info p{
  text-overflow: ellipsis; 
  white-space: nowrap;
   overflow: hidden;
}

.cart1-a {
  transform: translate(59%, -160%);
  transition: transform 0.3s ease;
}

.cart1-a a {

  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-radius: 9999px;
  color: #000;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  padding: .6rem 1rem;
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.info {
  display: none;
  color: black;

}

.image-wrapper:hover .p-1 {
  opacity: 0;
  transform: translateY(-10px);
}

.image-wrapper:hover .info {
  display: block;
}

.image-wrapper:hover .p-2 {
  opacity: 0;
  transform: translateY(-10px);
}


.image-wrapper:hover .cart1-a {
  transform: translate(59%, -200%);
  /* Move the button up slightly */
}


.sec2-carts-btn {
  position: relative;
}

.sec2-carts-btn button {
  position: absolute;
  margin-top: 10%;
  /* Bu satırı ekleyerek butonu ortalamayı dene */
  transform: rotate(180deg);
  background-color: rgba(255, 221, 0, 1);
  border: 1px solid rgba(255, 221, 0, 1);
  height: 120px;
  width: 60px;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  font-size: 30px;

  z-index: 500;
  cursor: pointer;
}

.sec2-carts-btn2 {
  position: relative;
}

.sec2-carts-btn2 button {
  position: absolute;
  margin-top: 10%;
  /* Aşağıya düşmesini engellemek için */
  margin-left: 0;
  background-color: rgba(255, 221, 0, 1);
  border: 1px solid rgba(255, 221, 0, 1);
  height: 120px;
  width: 60px;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  font-size: 30px;
  right: 0;
  z-index: 500;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* Butonun hover'da hareket etmemesini sağlar */
}
.reklam-1{
  display: grid;
place-items: center;
}
.reklam-1 img{
  margin-top: 100px;
  height: auto;
width: 80%;

}


.sec2-carts2{
  margin-top: 50px;
  display: flex;

  gap: 20px;
 

    overflow: hidden;
    scroll-behavior: smooth;
  
}


.sec2-carts3{
  margin-top: 50px;
  display: flex;

  gap: 20px;
 

    overflow: hidden;
    scroll-behavior: smooth;
  
}

.populyar2 {
  margin-top: 50px;
  font-size: 23px;
  margin-left: 50px;
}

.form_login {
  position: absolute; /* Use absolute positioning for centering */
  top: 50%;           /* Position 50% from the top */
  left: 50%;          /* Position 50% from the left */
  transform: translate(-50%, -50%); /* Move back by 50% of its width and height to center it */
  border-radius: .75rem;
  padding: 1.25rem;
  width: 100%;
  max-width: 440px;   /* Set a max width for the form */

  background-color: rgba(255, 255, 255, 1); /* Set background color */
  z-index: 20;
  display: none;
}

.form_register{
  position: absolute;
  margin-top: 30px; /* Use absolute positioning for centering */
  top: 50%;           /* Position 50% from the top */
  left: 50%;          /* Position 50% from the left */
  transform: translate(-50%, -50%); /* Move back by 50% of its width and height to center it */
  border-radius: .75rem;
  padding: 1.50rem;
  width: 100%;
  max-width: 400px;   /* Set a max width for the form */
  background-color: rgba(255, 255, 255, 1); /* Set background color */
  z-index: 20;
  display: none;
}
.login-background{
  border-radius: .75rem;
    bottom: 0;
    display: block;
    left: 0;
overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.login-background::before {

  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  content: "";
  height: 154px;
  left: -98px;
  position: absolute;
  top: 88px;
  transform: rotate(-40deg);
  transform-origin: 0 0;
  width: 100%;
}




.login-input{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
gap: 10px;
}

.login-input input{
  --tw-border-opacity: 1;
    border-color: #d1d5db;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    border-radius: .5rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 1rem 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 100%;
    border-width: 1px;
    border: 1px solid #d1d5db;
}

.login-input input:focus{
  background-color: rgb(229, 231, 235);
}

.login-btn{
  position: relative;
}

.login-btn button{
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  font-size: 1.125rem;
  font-weight: 700;
  border: 1px solid #fd0;
  line-height: 1.75rem;
  padding: .75rem 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}


.modal-footer {
  --tw-text-opacity: 1;
  color: #646464;
  color: rgba(100, 100, 100, var(--tw-text-opacity));
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}

.modal-footer a{
  color: #bb7dfb;
  text-decoration: none;
}
.closeForm i{
  position: absolute;

  right: -40px;
  color: #fff;
  font-size: 30px;
}

#sec4-carts4 {
  /* Container’ın boyutlarını kontrol et */
  display: block;
  width: 100%;
  height: auto;
  display: flex;

gap: 40px;
}
