* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-blur: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-brightness: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-contrast: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-grayscale: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-hue-rotate: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-invert: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-saturate: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-sepia: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-drop-shadow: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  border-color: #e5e7eb;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

*,
:after,
:before {
  border: 0 solid;
  box-sizing: border-box;

}


.shopping a {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-color: #fd0;
  border-color: rgba(255, 221, 0, var(--tw-border-opacity));
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  color: black;
  padding: .75rem;
  pointer-events: auto;
  position: relative;
  z-index: 10;
  border-radius: 50%;
  right: 40px;

}

.shopping {
  position: relative;
  top: 500px;
}

.shopping a {

  position: fixed;
}



.container {
  max-width: 1600px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;

}

.section-1 {
  overflow: hidden;
}

.head {
  position: absolute;
  top: 50px;

  width: 100%;

  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 10;

}

.container-2 {
  max-width: 1400px;
  margin: 0 auto;
}

.headx {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.section-1 {
  filter: drop-shadow(0 52px 94px rgba(0, 0, 0, .308949));
  padding: 30px;
}

.headx,
.head-ul ul,
.head-icons ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;

}

.headx a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}


.logo svg {
  margin-left: 50px;
  width: 150px;
  max-width: 100%;
}



.slider {
  position: relative;

  border-radius: 12px;
  padding: 0px;
  margin: 0 auto;
  height: 600px;
  overflow: hidden;
}

.section-1::before {
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  content: "";
  left: calc(50% - 23px);
  padding-top: 20%;
  position: absolute;
  top: 0;
  transform: translateX(-50%) rotate(-33deg);
  width: 200vw;
  overflow: hidden;
}



.slides-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  align-items: center;
}

.slide-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}


#left,
#right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 221, 0, 1);
  border: 1px solid rgba(255, 221, 0, 1);
  height: 134px;
  width: 67px;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  cursor: pointer;
}

#left {
  left: 0;

  transform: translateY(-50%) rotate(180deg);
}

#left span {
  transform: rotate(-180deg);
}

#right {
  right: 0;
}

.dropdown-menu {
  position: absolute;
  background-color: #ffff;
  border: 1px solid #fff;
  border-radius: 20px;
  top: 80px;
  right: 350px;
  display: none !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  z-index: 444;
}

.dropdown-menu.open {
  display: block !important;
  z-index: 444;
  position: absolute;
}

.dropdown-menu li>a {
  color: #0f0f0f;
  font-weight: 500;


}

.dropdown-menu li {

  padding: 5px;
}

.ulx a {
  position: relative;
  text-decoration: none;
  color: white;
  z-index: 444;

}

.ulx {
  margin-left: 100px;
}

.ulx a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 5px;
  background-color: #FFD700;
  transform: rotate(-5deg);

}


.ulx a:hover::before {
  width: 100%;
}

.head-icons ul {
  display: flex;
  gap: 30px;
}

.user {
  justify-content: center;
}

.head-icons {
  margin-left: 150px;
}


.fa-user {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-color: #fd0;
  border-color: rgba(255, 221, 0, var(--tw-border-opacity));
  height: 50px;
  padding: 15px;
  width: 50px;
  border-radius: 50%;
}

.populyar {
  margin-top: 50px;
  font-size: 23px;
  margin-left: 50px;
}

.sec2-carts {
  margin-top: 50px;
  display: flex;
  overflow: hidden;
  gap: 20px;
  scroll-behavior: smooth;

}

.image-wrapper {
  width: 300px;
  border-radius: 15px;
  flex: 0 0 auto;
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-left: 0px;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  transition: all 0.3s ease;
}


.image-wrapper:hover {
  margin-top: -50px;
}

.cart1-img {
  max-width: 300px;
  max-height: 200px;
}

.cart1-img img {
  width: 300px;
  border-radius: 15px;
  object-fit: cover;
  height: 320px;
  transition: transform 0.3s ease;
}

.cart-link2 {
  position: absolute;
  top: 0;


  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;


}

.cart1-p {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart1-p p {
  font-size: 20px;
  margin-left: 10px;
}

.slide {
  transition: transform 0.5s ease-in-out;
}

.cart1-p .p-1 {
  opacity: 1;
  z-index: 10;
  position: relative;
  margin-top: 50px;
}

.cart1-p .p-2 {
  opacity: 1;
  margin-top: px;
}

.info h3 {
  margin-top: 30px;
  margin-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cart1-a {
  transform: translate(55%, -100%);
  transition: transform 0.3s ease;
}

.cart1-a a {

  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-radius: 9999px;
  color: #000;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  padding: .6rem 1rem;
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.info {
  display: none;
  color: black;

}

.image-wrapper:hover .p-1 {
  opacity: 0;
  transform: translateY(-10px);
}

.image-wrapper:hover .info {
  display: block;
}

.image-wrapper:hover .p-2 {
  opacity: 0;
  transform: translateY(-10px);
}


.image-wrapper:hover .cart1-a {
  transform: translate(55%, -200%);
  /* Move the button up slightly */
}


.sec2-carts-btn {
  position: relative;
}

.sec2-carts-btn button {
  position: absolute;
  margin-top: 10%;
  /* Bu satırı ekleyerek butonu ortalamayı dene */
  transform: rotate(180deg);
  background-color: rgba(255, 221, 0, 1);
  border: 1px solid rgba(255, 221, 0, 1);
  height: 100px;
  width: 50px;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  font-size: 30px;

  z-index: 500;
  cursor: pointer;
}


.sec2-carts-btn2 {
  position: relative;
}

.sec2-carts-btn2 button {
  position: absolute;
  margin-top: 10%;

  margin-left: 0;
  background-color: rgba(255, 221, 0, 1);
  border: 1px solid rgba(255, 221, 0, 1);
  height: 100px;
  width: 50px;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  font-size: 30px;
  right: 0;
  z-index: 500;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.reklam-1 {
  display: grid;
  place-items: center;
}

.reklam-1 img {
  margin-top: 100px;
  height: auto;
  width: 80%;

}


.sec2-carts2 {
  margin-top: 50px;
  display: flex;

  gap: 20px;

  overflow: hidden;
  scroll-behavior: smooth;

}


.sec2-carts3 {
  margin-top: 50px;
  display: flex;

  gap: 20px;

  overflow-x: hidden;
  scroll-behavior: smooth;

}

.populyar2 {
  margin-top: 50px;
  font-size: 23px;
  margin-left: 50px;
}

.form_login {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  border-radius: .75rem;
  padding: 1.25rem;
  width: 100%;
  max-width: 440px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 20;
  display: none;
}

.form_register {
  position: absolute;
  margin-top: 30px;
  /* Use absolute positioning for centering */
  top: 50%;
  /* Position 50% from the top */
  left: 50%;
  /* Position 50% from the left */
  transform: translate(-50%, -50%);
  /* Move back by 50% of its width and height to center it */
  border-radius: .75rem;
  padding: 1.50rem;
  width: 100%;
  max-width: 400px;
  /* Set a max width for the form */
  background-color: rgba(255, 255, 255, 1);
  /* Set background color */
  z-index: 20;
  display: none;
}

.login-background {
  border-radius: .75rem;
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.login-background::before {

  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  content: "";
  height: 154px;
  left: -98px;
  position: absolute;
  top: 88px;
  transform: rotate(-40deg);
  transform-origin: 0 0;
  width: 100%;
}




.login-input {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input input {
  --tw-border-opacity: 1;
  border-color: #d1d5db;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  border-radius: .5rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  border-width: 1px;
  border: 1px solid #d1d5db;
}

.login-input input:focus {
  background-color: rgb(229, 231, 235);
}

.login-btn {
  position: relative;
}

.login-btn button {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  font-size: 1.125rem;
  font-weight: 700;
  border: 1px solid #fd0;
  line-height: 1.75rem;
  padding: .75rem 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.section-4 {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-top: 100px;
}

.section-4::before {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  /* 120% yox, tam ekran genişliyi */
  height: 100%;
  background: linear-gradient(to bottom right, #fd0, #fd0 50%, transparent 50%);
  z-index: -1;

}

.modal-footer {
  --tw-text-opacity: 1;
  color: #646464;
  color: rgba(100, 100, 100, var(--tw-text-opacity));
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}

.modal-footer a {
  color: #bb7dfb;
  text-decoration: none;
}

.closeForm i{
  position: absolute;

right: 30px;
  color: #000;
  font-size: 30px;
}
#sec4-carts4 {

  display: block;
  width: 100%;
  height: auto;
  display: flex;

  gap: 40px;
}



.half-footer {

  padding-left: 1.25rem;
  padding-right: 1.25rem;

}

.app-block {
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-radius: 1rem;
  padding: 1.25rem;
  position: relative;
  height: 350px;
  margin-top: 5rem;
}

.text {
  margin-left: 50px;
}


.app-block .title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  line-height: 1;
  margin-top: 40px;
  margin-left: 50px;
}


.app-block .text,
.app-block .title {
  margin-bottom: 1.25rem;
}



.app-block .links {
  --tw-bg-opacity: 1;
  align-items: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  border-radius: 1rem;
  display: inline-flex;
  margin-left: 50px;
  margin-top: 20px;
}


.app-block .links a {
  display: block;
  padding: .5rem 1.25rem;
}

.links img {
  width: 150px;

}

.app-block .links span {
  border-right: 1px solid #ececec;
  display: block;
  height: 30px;
  opacity: .3;
  width: 0;
}

.app-block-img {
  overflow: hidden;
}

.app-block-img img {
  position: absolute;
  bottom: 0px;
  right: 90px;
  width: 250px;

}


.footer-1 {
  background: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin: 10px;
}

.footer-logo svg {
  width: 150px;
}

.footer-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.footer-section ul li {
  margin-bottom: 15px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #444;
  opacity: 0.8;
  font-size: 17px;
}

.footer-section ul li a:hover {
  color: #000;
}

.help-foot {
  margin-top: 50px;
}

.help-text {
  color: #333;
  font-size: 20px;
  opacity: 0.7;
}

.phone {
  font-size: 23px;

  font-weight: bold;
  color: #000;
}

.payment-logos img {
  margin-top: 30px;
  width: 185px;
  margin-right: 10px;
}

.footer-bottom {
  margin-left: 40px;
  color: #333;
  opacity: 0.8;
  font-size: 20px;
  margin-top: 20px;
}

.pay {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  opacity: 0.8;
}

.end-footer {
  display: flex;
  justify-content: space-between;
}

footer .social-links {
  --tw-bg-opacity: 1;

  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  padding: 10px;
  margin-right: 10px;

}


.left-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-ul li {
  list-style: none;
}

.left-ul svg {
  width: 50px;
  height: 100%;
}


footer .social-links a {
  height: 70px;
  padding: 1rem;
}




.responsive-navbar {
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  display: none;
  gap: 1rem;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.responsive-bars i {
  font-size: 20px;
  color: #333;
  opacity: 0.7;
  cursor: pointer;
}

.responsive-ul li {
  margin: 0 10px;
}

.logo {
  display: flex;
}

.logo svg {
  height: 40px;
  fill: black;
}

.responsive-navbar-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.responsive-navbar-icon i {
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.responsive-navbar-icon i:hover {
  color: black;
}

.fa-user {
  background-color: yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black !important;
}

.bars-open {
  position: absolute;
  z-index: 444;
  top: 0;
  padding: 30px;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  transform: translateX(-500%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bars-open.open {
  transform: translate(0%);
}

.bars-open .close {
  transform: translate(-500%);
}

.bars-open ul,
a {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.bars-open li {
  padding: 5px;
}

.bars-close {
  position: absolute;
  right: 30px;
  font-size: 20px;
}



.responsive-logo {
  display: flex;
  align-items: center;

}

.responsive-logo input {
  background: #fff;
  border: 1px solid #6b7280;
  border-radius: .375rem;
  color: rgba(107, 114, 128, 1);
  padding: 0.900rem 5rem;
  position: relative;
  left: 150px;
}

.bars-open svg {
  fill: black;
  width: 150px;
}

.reklam-1-2 {
  display: none;
}

.footer-2 {
  display: none;

}

.footer-section-1 {
  display: flex;
  justify-content: space-between;
}

.footer-2 .footer-section-all {
  display: flex;
}

.contact-us{
  overflow: hidden;
  max-width: 100%;
  text-align: end;
  justify-content: end;
}
.contact-us p {
  font-size: 18px;
  color: #333;
  opacity: 0.7;

}

.contact-us strong {
  line-height: 1.25rem;
  text-align: end;
  justify-content: end;
  font-size: 20px;
}

.footer-logo-2 {
  flex-shrink: 0;
}

.footer-logo-2 svg {
  width: 150px;
}

.footer-2 {
  margin-top: 50px;
}

.footer-section2 {
  margin-top: 30px;
}

.footer-section2 ul {
  list-style: none;
  margin-top: 10px;
}

.social-links2 {
  margin-top: 30px;
  width: 80%;
  background-color: rgba(255, 221, 0, 1);
  padding: 10px;
  margin-right: 10px;
  justify-content: space-around;
}

.footer-section2 a {
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  color: #333;
  opacity: 0.7;
}

.left-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-ul li {
  list-style: none;
}

.left-ul svg {
  width: 50px;
  height: 100%;
}

footer .social-links2 a {
  height: 70px;
  padding: 1rem;
}

.footer-section2 li {
  padding: 3px;
}

.footer-2x {
  margin-left: 100px;
}
.form_login .modal-footer a{
  font-size: 15px;
}
footer hr {
  border-color: #d2d2d2;
  margin: 15px 0 0;

  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.px-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-section2 h4 {
  font-size: 18px;
  font-weight: 500;
}

.security img {
  width: 185px;
}

.security {
  margin-top: 30px;
}


.ul-2 input{
  display: none;
}

.security h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.50rem;
  padding-bottom: .50rem;
}

.security p {
  color: #333;
  opacity: 0.7;
  padding-bottom: .75rem;
}

.footer-info {
  margin-top: 30px;
  color: #333;
  font-size: 19px;
  opacity: 0.7;
}

@media screen and (max-width: 1200px) {
  .responsive-navbar {
    display: flex;
    max-width: 100%;
  }
  .form_login,
.form_register{
  width:300px;
  max-width: 100%;
}

  .head {
    display: none;
  }

  .slider {
    margin-top: 50px;
  }
  .populyar h1 {
    font-size: 22px;
  }

  #left,
  #right {
    display: none;
  }

  .reklam-1-2 {
    display: block;
  }

  .reklam-1-1 {
    display: none;
  }

  .fa-heart {
    display: none;
  }

  .footer-1 {
    display: none;
  }

  .footer-2 {
    display: block;
  }
.section-1{
  padding: 0px;
}
.slider {
  align-items: none;
max-width: 100%;
width: 100%;
border: none;
  padding: 0px;
  margin: 0px ;
  height: 600px;
  overflow: hidden;
}

.slides-container {
  display: flex;
 
  transition: transform 0.5s ease-in-out;
}

.slide {

  display: flex;
  align-items: center;
}

.slide img {
  max-width: 100%;
  width: 100vw;
  border: none;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}



  
  .app-block {
display: none;
  } 
.image-wrapper{
  width: 260px;
  object-fit: cover;
  flex-shrink: 0;

  height: auto ;
}
.cart1-p p{
  font-size: 14px;
}
.cart1-a a{
  font-size: 16px;
}


.responsive-logo input{
display: none;
}


}



@media screen and (max-width: 768px) {
  .ul-2 input{
    display: block;
    background: #fff;
    border: 1px solid #6b7280;
    border-radius: .375rem;
    color: rgba(107, 114, 128, 1);
  width: 100%;
  padding: 20px;
  }
  .sec2-carts-btn,
  .sec2-carts-btn2 {
    display: none;
  }

  .image-wrapper {
    width: 220px; /* Kiçildilmiş genişlik */
    border-radius: 10px;
    flex: 0 0 auto;
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-left: 0px;
    object-fit: contain;
    transition: all 0.3s ease;
  }

  .image-wrapper:hover {
    margin-top: -30px; /* Hover effekti üçün daha kiçik animasiya */
  }

  .cart1-img {
    max-width: 220px; /* Şəkil konteynerini kiçilt */
    max-height: 160px;
  }

  .cart1-img img {
    width: 220px;
    border-radius: 10px;
    object-fit: cover;
    height: 240px;
    transition: transform 0.3s ease;
  }

  .cart1-p p {
    font-size: 16px; /* Mətn ölçüsünü kiçilt */
    margin-left: 5px;
  }

  .cart1-p .p-1 {
    margin-top: 30px;
  }

  .cart1-p .p-2{
    display: none;
  }
  .cart1-a {
    transform: translate(57%, -100%); /* Button yerini uyğunlaşdır */
    transition: transform 0.3s ease;
  }

  .cart1-a a {
    font-size: 14px; /* Button ölçüsünü kiçilt */
    padding: 0.5rem 0.8rem;
  }

  .info h3 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px; /* Kiçik başlıq */
  }

  .info p {
    font-size: 12px;
    margin-left: 10px;
    opacity: 0.7;
  }

  .image-wrapper:hover .cart1-a {
    transform: translate(45%, -180%);
  }
}


@media screen and (max-width:580px) {
  .contact-us{
   overflow: hidden;
   max-width: 100%;
  }
   .contact-us  p{

   
    font-size: 12px;
   }
   .contact-us strong{
    font-size: 15px;
   }
  
 
   .footer-2 hr{
     max-width: 100%;
   }
 
   .social-links2{
     max-width: 100%;
   }
 
   .left-ul li a  svg{
     width: 30px;
   }
   .responsive-navbar .logo svg{
    width: 120px;
  }
 .social-links{
  width: 100%;
 }
  .left-ul li a  svg{
width: 15px;

  }
.event-button{
  padding: 20px 30px;
}
  }



 /* @media screen and (max-width: 1030px) {
  .footer-2 hr {
      max-width: 100%;
  }
}

 */


@media screen and (max-width:400px) {
  .responsive-navbar .logo svg{
    width: 100px;
  }
  .contact-us strong{
    font-size: 13px;
  }
  .footer-section-1{
    align-items: center;
  }
  .footer-logo-2 svg{
    width: 100px;
  }
  .social-links2 a{
font-size: 13px;
  }
}