*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html {
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;

}

.container{
    max-width: 1600px;
    margin: 0 auto;

}


.head{
    --tw-bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    box-shadow: 0 12px 24px rgba(0, 0, 0, .05);

    display: flex;
    align-items : center;
 
  top:10px;
  justify-content:center ;
    width: 100%;
  
 
  height: 100px;
    z-index: 10;
    
    
  }
  .head,
  .head-ul ul,
  .head-icons ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
  
  }
  
  .head a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  
    .logo svg {
  margin-left: 50px;
      width: 150px;
      max-width: 100%;
    }
  
  
  
  .dropdown-menu {
    position: absolute;
    background-color: #ffff;
    border: 1px solid #fff;
    border-radius: 20px;
    top: 80px;
    right: 350px;
    display: none !important;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    z-index: 444;
  }
  
  .dropdown-menu.open {
    display: block !important;
    z-index: 444;
    position: absolute;
  }
  
  .dropdown-menu li>a {
    color: #0f0f0f;
    font-weight: 500;
  
  
  }
  
  .dropdown-menu li {
  
    padding: 5px;
  }
  
  .ulx a {
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 444;
  
  }
  .ulx{
    margin-left: 100px;
  }
  
  .ulx a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 5px;
    background-color: #FFD700;
    transform: rotate(-5deg);
  
  }
  
  
  .ulx a:hover::before {
    width: 100%;
  }
  
  .head-icons ul {
    display: flex;
    gap: 30px;
  }
  
  .user {
    justify-content: center;
  }
  .head-icons{
    margin-left:150px;
  }
  
  
  .fa-user {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: #fd0;
    background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
    border-color: #fd0;
    border-color: rgba(255, 221, 0, var(--tw-border-opacity));
    height: 50px;
    padding: 15px;
    width: 50px;
    border-radius: 50%;
  }
  
  .populyar {
    margin-top: 50px;
    font-size: 23px;
    margin-left: 50px;
  }


  .responsive-navbar {
    align-items: center;
    z-index: 444;
    position: absolute;
    top: 0px;
    width: 100%;
    display: none;
    gap: 1rem;
justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  
  .responsive-bars i {
    font-size: 20px;
    color: #333;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .responsive-ul li {
    margin: 0 10px;
  }
  
  .logo {
    display: flex;
  }
  
  .logo svg {
    height: 40px;
    fill: black;
  }
  
  .responsive-navbar-icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .responsive-navbar-icon i {
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .responsive-navbar-icon i:hover {
    color: black;
  }
  
  .fa-user {
    background-color: yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black !important;
  }
  
  .bars-open {
    position: absolute;
    z-index: 444;
    top: 0;
    padding: 30px;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    transform: translateX(-500%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .bars-open.open {
    transform: translate(0%);
  }
  
  .bars-open .close {
    transform: translate(-500%);
  }
  
  .bars-open ul,
  a {
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .bars-open li {
    padding: 5px;
  }
  
  .bars-close {
    position: absolute;
    right: 30px;
    font-size: 20px;
  }
  
  .responsive-logo span {
    position: absolute;
    left: 320px;
  }
  
  .span-2 {
    margin-left: 50px;
    color: #333;
    opacity: 0.7;
    font-size: 16px;
  }
  
  .responsive-logo {
    display: flex;
    align-items: center;
    
  }
  
  .responsive-logo input {
    background: #fff;
    border: 1px solid #6b7280;
    border-radius: .375rem;
    color: rgba(107, 114, 128, 1);
    padding: 0.900rem 5rem;
    position: relative;
    left: 200px;
  }
  
  .bars-open svg {
    fill: black;
    width: 150px;
  }
  
  
  .ul-2 input{
    display: none;
  }
  
  .bars-open svg {
    fill: black;
    width: 150px;
  }
  
  .section-1{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 20px;
    align-items: flex-start;
    --tw-bg-opacity: 1;
width: 100%;
max-height: 100%;
   
  }
  .cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr auto; /* 3 sütun: şəkil | mətn | qiymət+zibil */
    align-items: center;
    gap: 10px;
    padding: 20px;
    


  }
  
  
.festival-image {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 8px;
  position: relative; /* Bu, digər şəkili yerləşdirmək üçün lazımlıdır */
}

.cart-link2 {
  position: absolute; /* festival-image üzərində yerləşməsi üçün */
  top: 100;  /* Yuxarıya sıfırla */
  left:20px; /* Sol tərəfə sıfırla */
width: 7rem;
height: 7rem;
/* Festival image ölçüsündə olsun */
  background: transparent; /* Şəffaf fon */
  border-radius: 8px; /* Küncləri yuvarlaqlaşdırır */
  object-fit: cover; /* Şəkilin uyğun olmasını təmin edir */
}


.cart-item h4{
    --tw-text-opacity: 1;
    color: #6b7280;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    font-size: 0.970rem;
    font-weight: 400;
    line-height: 1.25rem;
}


.cart-item p{

   font-size: 1.3rem;
   font-weight: 400;
}



form h2{
    color: #6b7280;
    
    font-weight: 500;
    justify-content: space-between;

}
.form-check{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}
.form-check input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 15px;
    max-width: 100%;
}
.checkout-form p{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 2.5rem
}

.space{
    display: block;
    width: 100%;
    border: 1px solid black;
    height: 100%;
}


.check-form-h3{
    color: gray;
    font-size:20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.form-area{
display: none;
    border-left: 1px solid #ccc;
    padding-left: 20px; 
    height: 100%;
    width: 100%;
}

.shop-method{

margin-top: 100px;
    padding-left: 1.25rem;
    width: 100%;
}

.cart-1{
    border-radius: 1rem;
   
    max-width: 100%;
    padding: 20px;
box-sizing: border-box;
width: 250px;
    z-index: 10;
    border: 1px solid gray ;
}

.cart-1:hover{
    border: 3px solid #fd0;
}
.cart1-content{
    display: flex;
    align-items: center;
width: 100%;
    padding-left: 1.25rem;

    padding-right: 1.25rem;

}
.cart-item-content-1{
  white-space: nowrap;
  flex-grow: 1;
  word-wrap: nowrap;

}
.cart-1 img{
    width: 2rem;
    height: 3rem;
}

.cart1-content p{
position: relative;
left: 10px;
font-weight: 500;

}

.method-cart{
    margin-top: 20px;
    display: flex;
    gap: 30px;

}
/* .price-div elementinə tam genişlik təyin edin */
.price-div {
  display: grid;
  place-items: end;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  max-width: 100%;
  justify-self: end;

}

.cart-item-price {
  position: relative;
  left: 120px;
  gap: 20px;
  display: grid;
  justify-content: end;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  justify-self: end;
}

/* <a> etiketi içi dizaynı */
.cart-item-price a {
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  border-radius: .75rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 1rem;
  text-align: center; /* Mətni mərkəzləşdirir */
}

/* Trash iconunun mərkəzləşdirilməsi */
.fa-trash {
  display: grid;
  place-items: center; /* Həm yatay, həm dikey ortalanır */
  background-color: #ff8787;
  border-radius: 50%;
  color: #fff;
  height: 50px;
  width: 50px;
}
.warning-cart{
  position:absolute;
  margin-top: 100px;

    padding-left: 1.25rem;
}

.warning-content{
    display: flex;
    align-items: center;
    
}
.warning-cart img{
    width: 30px;
    height: 45px;
}

.warning-cart p{
    font-size: 18px;
    position: relative;
    left: 10px;
    font-weight: 600;

}



.promo-code{
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.promo-code span{
  font-size: 17px;
  color: #333;
  opacity: 0.7;
  font-weight: 600;
}

.promo-code a{
  color: #3065ff;
  cursor: pointer;
  font-weight: 500;
font-size: 16px;
}


.total-price{

margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: gray;
}

.total-price h2{
  font-size: 20px;
}

.total-price label{
  font-size: 20px;
  font-weight: 600;
}
.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3065ff;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0; /* Görünmez yapıyoruz, ama hala işlevsel */
}

.checkbox-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #3065ff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: white; /* Başlangıçta arkaplan beyaz */
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox-label i {
  color: white; /* Check ikonunun rengi */
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Başlangıçta gizli */
}

/* Checkbox işaretlendiğinde: */
.custom-checkbox:checked + .checkbox-label {
  background-color: #3065ff;
  border-color: #3065ff;
}

.custom-checkbox:checked + .checkbox-label i {
  display: block; /* Seçili olunca ikonu göster */
}



.create-offer  a{
color: #3065ff;

font-weight: 400;
font-size: 16px;
}

.create-offer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.create-offer span{
  font-size: 16px;

}
.offer-button{
  align-items: center;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  height: 60px;
 padding: 1rem  1.25rem;
 width: 200px;
  margin-top: 30px;
  border-radius: .5rem;
  color: black;
  position: relative;
  color: inherit;
  display: flex;
justify-content: center;
align-items: center;

}
.create-offer-button{
  font-size: 1.50rem;
  font-weight: 700;
  line-height: 1.75rem;
justify-content: center;
  text-align: center;

  

  border: none;
}


/* Qalxan vəziyyət */
.form-area.move-up {
  transform: translateY(-100px); /* Neçə px istəsən dəyiş */
  opacity: 1;
}


.footer-1 {
  background: #fff;
  padding: 40px 0;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin: 10px;
}

.footer-logo svg {
  width: 150px;
}

.footer-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.footer-section ul li {
  margin-bottom: 15px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #444;
  opacity: 0.8;
  font-size: 17px;
}

.footer-section ul li a:hover {
  color: #000;
}

.help-foot {
  margin-top: 50px;
}

.help-text {
  color: #333;
  font-size: 20px;
  opacity: 0.7;
}

.phone {
  font-size: 23px;

  font-weight: bold;
  color: #000;
}

.payment-logos img {
  margin-top: 30px;
  width: 185px;
  margin-right: 10px;
}

.footer-bottom {
  margin-left: 40px;
  color: #333;
  opacity: 0.8;
  font-size: 20px;
  margin-top: 20px;
}

.pay {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  opacity: 0.8;
}

.end-footer {
  display: flex;
  justify-content: space-between;
}

footer .social-links {
  --tw-bg-opacity: 1;

  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  padding: 10px;
  margin-right: 10px;

}

.left-ul {
  display: flex;
  align-items: center;

}

.left-ul li {
  list-style: none;
}

.left-ul svg {
  width: 50px;
  height: 100%;
}


footer .social-links a {
  height: 70px;
  padding: 1rem;
}



.responsive-navbar {
  align-items: center;
  z-index: 444;
  position: absolute;
  top: 0px;
  width: 100%;
  display: none;
  gap: 1rem;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.responsive-bars i {
  font-size: 20px;
  color: #333;
  opacity: 0.7;
  cursor: pointer;
}

.responsive-ul li {
  margin: 0 10px;
}

.logo {
  display: flex;
}

.logo svg {
  height: 40px;
  fill: black;
}

.responsive-navbar-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.responsive-navbar-icon i {
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.responsive-navbar-icon i:hover {
  color: black;
}

.fa-user {
  background-color: yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black !important;
}

.bars-open {
  position: absolute;
  z-index: 444;
  top: 0;
  padding: 30px;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  transform: translateX(-500%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bars-open.open {
  transform: translate(0%);
}

.bars-open .close {
  transform: translate(-500%);
}

.bars-open ul,
a {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.bars-open li {
  padding: 5px;
}

.bars-close {
  position: absolute;
  right: 30px;
  font-size: 20px;
}

.responsive-logo span {
  position: absolute;
  left: 320px;
}

.span-2 {
  margin-left: 50px;
  color: #333;
  opacity: 0.7;
  font-size: 16px;
}

.responsive-logo {
  display: flex;
  align-items: center;

}

.responsive-logo input {
  background: #fff;
  border: 1px solid #6b7280;
  border-radius: .375rem;
  color: rgba(107, 114, 128, 1);
  padding: 0.900rem 5rem;
}

.bars-open svg {
  fill: black;
  width: 150px;
}

.reklam-1-2 {
  display: none;
}

.footer-2 {
 margin-top: 100px;
  display: none;

}

.footer-section-1 {
  display: flex;
  justify-content: space-between;
}

.footer-2 .footer-section-all {
  display: flex;
}

.contact-us {
  text-align: end;
  justify-content: end;
}

.contact-us p {
  font-size: 18px;
  color: #333;
  opacity: 0.7;
  text-align: end;
  justify-content: end;
}

.contact-us strong {
  line-height: 1.25rem;
  text-align: end;
  justify-content: end;
  font-size: 20px;
}

.footer-logo-2 {
  flex-shrink: 0;
}

.footer-logo-2 svg {
  width: 150px;
}

.footer-2 {
  margin-top: 200px;
}

.footer-section2 {
  margin-top: 30px;
}

.footer-section2 ul {
  list-style: none;
  margin-top: 10px;
}

.social-links2 {
  margin-top: 30px;
  width: 80%;
  background-color: rgba(255, 221, 0, 1);
  padding: 10px;
  margin-right: 10px;
  justify-content: space-around;
}

.footer-2{
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-section2 a {
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  color: #333;
  opacity: 0.7;
}

.about-event {
  display: flex;
  gap: 20px;
}

.content-event {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

.about-section {
  display: flex;
  flex-direction: column; /* Button textarea-nın üstündə olsun */
  
  gap: 10px;
  width: 100%;
}

.left-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-buttons2{
  display: none;

}
.left-ul li {
  list-style: none;

}
.about-buttons{
  flex-wrap: wrap;
}

.left-ul svg {
  width: 50px;
  height: 100%;
}

footer .social-links2 a {
  height: 70px;
  padding: 1rem;
}

.footer-section2 li {
  padding: 3px;
}

.footer-2x {
  margin-left: 100px;
}

footer hr {
  border-color: #d2d2d2;
  margin: 15px 0 0;

  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.px-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-section2 h4 {
  font-size: 18px;
  font-weight: 500;
}

.security img {
  width: 185px;
}

.security {
  margin-top: 30px;
}
.form_login .modal-footer a{
  font-size: 15px;
}
.form_register .modal-footer a{
  font-size: 15px;
}
.security h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.50rem;
  padding-bottom: .50rem;
}

.security p {
  color: #333;
  opacity: 0.7;
  padding-bottom: .75rem;
}

.footer-info {
  margin-top: 30px;
  color: #333;
  font-size: 19px;
  opacity: 0.7;
}

.ul-2 input{
  display: none;
}
.form_login {
  position: absolute;
  top: 50%;           
  left: 50%;      
  transform: translate(-50%, -50%); 
  border-radius: .75rem;
  padding: 1.25rem;
  width: 100%;
  max-width: 440px;  

  background-color: rgba(255, 255, 255, 1); 
  z-index: 20;
  display: none;
}

.form_register{
  position: absolute;
  margin-top: 30px; 
  top: 50%;          
  left: 50%;          
  transform: translate(-50%, -50%); 
  padding: 1.50rem;
  width: 100%;
  max-width: 400px;   
  background-color: rgba(255, 255, 255, 1); 
  z-index: 20;
  display: none;
}
.login-background{
  border-radius: .75rem;
    bottom: 0;
    display: block;
    left: 0;
overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.login-background::before {

  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  content: "";
  height: 154px;
  left: -98px;
  position: absolute;
  top: 88px;
  transform: rotate(-40deg);
  transform-origin: 0 0;
  width: 100%;
}




.login-input{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
gap: 10px;
}

.login-input input{
  --tw-border-opacity: 1;
    border-color: #d1d5db;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    border-radius: .5rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 1rem 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 100%;
    border-width: 1px;
    border: 1px solid #d1d5db;
}

.login-input input:focus{
  background-color: rgb(229, 231, 235);
}

.login-btn{
  position: relative;
}

.login-btn button{
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: #fd0;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  font-size: 1.125rem;
  font-weight: 700;
  border: 1px solid #fd0;
  line-height: 1.75rem;
  padding: .75rem 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}


.cart-item-content-1 h4{
  width: 300px;
  max-width: 100%;
  word-wrap: break-word;
  white-space: wrap;
}

@media screen and (max-width:1030px) {
  .responsive-navbar{
      display: flex;
  }

  .head{
      display: none;
  }
  .fa-heart {
      display: none;
    }
    .event-carts{
      display: flex;
      flex-wrap: wrap;
      gap: 75px;
    }
  
    .footer-1 {
      display: none;
    }
    .cart-item-price{
      position: relative;
      left: 250px;
    }
  
    .footer-2 {
      display: block;
    }
    .section-1{
      display: flex;
      flex-direction: column;

    }
    .form-area{
     
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      border: none;
    }
    .method-cart{
     display: grid;
     grid-template-columns: 1, 1fr;
      max-width: 1200px;
      position: relative;

    }
    .cart-1{
      width:100%;
      max-width: 100%;
    }
    .create-offer{
      display: grid;
      grid-template-columns: 1, 1fr;
    }
    .offer-button{
      width: 100%;
    }
    .form-check input{
      width: 100%;
   height: 50px;
    }
    .offer-content{
    display: flex;
    gap: 10px;  
    }
.form-area .none{
  display: none !important;
}
.index-hr{
  display: none;
}
    
  }

  @media screen and (max-width:980px) {
  .cart-item-price{
    left: 300px;
  }

}
   @media screen and (max-width:981px) {
  .cart-item-price{
    left: 230px;
  }
  
  
@media screen and (max-width:830px) {

  .bars-open{
    width: 100%;
    max-width: 100%;
overflow-x: hidden;

  }
  .cart-item-price{
   
  
    position: absolute;
      
      left: 20px;
  margin-top: 200px;
  
      }
      .cart-item-price a{
      
        position: relative;
        width:250px;
      }
    }
.cart-item-content-1 h4{
width: 200px;
  white-space: wrap;
}
  .cart-item{
display: flex;
position: relative;
max-width: 100%;
  }

  .cart-item-content-1 p{
    font-size: 16px;
    width: 150px;

    white-space: wrap;
  }


.responsive-logo{
display: flex;
gap: 0px;


}
.ul-2{
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  gap: 20px;
}

.responsive-logo input{
 display: none;
}
.responsive-logo i{
  position: relative;
  
}
.ul-2 input{
  display: block;
  background: #fff;
  border: 1px solid #6b7280;
  border-radius: .375rem;
  color: rgba(107, 114, 128, 1);
width: 100%;
padding: 20px;
}


.footer-2{
  max-width: 100%;
  flex-wrap: wrap;
} .contact-us{
  overflow: hidden;
  max-width: 100%;
 }
  .contact-us  p,strong{
  font-size: 12px;
 
  }

  .footer-2 hr{
    max-width: 100%;
  }

  .social-links2{
    max-width: 100%;
  }

  .left-ul li a  svg{
    width: 30px;
  }
  .bars-open{
    width: 100%;
overflow-x: hidden;

  }
.responsive-logo{
display: flex;
gap: 0px;


}
.ul-2{
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  gap: 20px;
}

.responsive-logo input{
 display: none;
}
.responsive-logo i{
  position: relative;
  
}
.ul-2 input{
  display: block;
  background: #fff;
  border: 1px solid #6b7280;
  border-radius: .375rem;
  color: rgba(107, 114, 128, 1);
width: 100%;
padding: 20px;
}



.footer-2{
  max-width: 100%;
  flex-wrap: wrap;
}
}











@media screen and (max-width:580px) {
  .cart-item-content-1 h4{
    width: 150px;
      white-space: wrap;
    }
 .contact-us{
  overflow: hidden;
  max-width: 100%;
 }
 .cart-item-price a{
  width: 200px;
  justify-content: flex-start;
 }
  .contact-us  p,strong{
  font-size: 12px;
 
  }

  .footer-2 hr{
    max-width: 100%;
  }

  .social-links2{
    max-width: 100%;
  }

  .left-ul li a  svg{
    width: 30px;
  }
  .responsive-navbar .logo svg{
    width: 100px;
  }
 .social-links{
  width: 100%;
 }
  .left-ul li a  svg{
width: 15px;

  }

.footer-logo-2 svg{
  width: 120px;
}
.contact-us p{
  font-size: 12px;
}
.contact-us strong{
  font-size: 14px;
}

}




@media  screen and (max-width:400px) {




  .footer-section2 a{
    font-size: 13px;
  }
  
}





